@model helpone_helpdesk_sys.Models.Chamados.Chamado

<div class="collapse" id="responderCollapse">
	<div class="card card-body">
		@using (Html.BeginForm("Responder", "Chamado", new { id = Model.Id }))
		{
			@Html.AntiForgeryToken()
			<div id="responderForm" class="d-flex flex-column">
				<div class="form-group">
					<label for="ConteudoForm">Resposta ao problema</label>
					<textarea class="form-control" id="ConteudoForm" name="ConteudoForm" rows="12"></textarea>
					@Html.ValidationMessageFor(model => model.Conteudos.Single().ConteudoChamado, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-actions no-color">
				<input type="submit" value="Enviar" class="btn btn-success" />
			</div>
		}
	</div>
</div>
