<!-- Hero Section with search -->
<section class="section-hero bg-secondary">
	<div class="container">
		<div class="row align-items-center justify-content-center" style="min-height: 40vh;">
			<div class="col-3">
				<a role="button" href="@Url.Action("Index", "Chamado")" class="btn btn-lg btn-block btn-info py-4">
					<span class="d-block mb-1"><i class="fas fa-3x fa-list"></i></span>
					Consultar chamados
					<small class="d-block">Abertos para atendimento</small>
				</a>
			</div>
			<div class="col-3">
				<a role="button" href="#" class="btn btn-lg btn-block btn-info py-4 disabled">
					<span class="d-block mb-1"><i class="fas fa-3x fa-file-alt"></i></span>
					Gerenciar Artigos
					<small class="d-block">Some text here of button</small>
				</a>
			</div>
			<div class="col-3">
				<a role="button" href="@Url.Action("Index", "Equipe")" class="btn btn-lg btn-block btn-info py-4">
					<span class="d-block mb-1"><i class="fas fa-3x fa-users"></i></span>
					Gerenciar Equipe
					<small class="d-block">Some text here of button</small>
				</a>
			</div>
			<div class="col-3">
				<a role="button" href="relatorios.html" class="btn btn-lg btn-block btn-info py-4 disabled">
					<span class="d-block mb-1"><i class="fas fa-3x fa-chart-bar"></i></span>
					Exibir Relatórios
					<small class="d-block">Some text here of button</small>
				</a>
			</div>
		</div>
	</div>
</section>
