@{
	var listaTopicos = ViewBag.Topicos;
	var listaSubtopicos = ViewBag.Subtopicos;
}

<h2 class="h3 mb-3">Selecione um tópico</h2>
@foreach (var topico in listaTopicos)
{
	<!-- accordion-topics -->
	<div class="accordion my-1 pt-2" id="accordionExample">
		<!-- card-accordion -->
		<div class="card border-0">
			<div id="topico-@topico.Id">
				<h5 class="mb-2">
					<button class="btn btn-info btn-block d-flex justify-content-between text-left" type="button" data-toggle="collapse" data-target="#collapse-@topico.Id" aria-expanded="true" aria-controls="collapse-@topico.Id">
						<span>@topico.Titulo</span>
						<span class="d-block mb-1"><i class="fas fa-angle-down"></i></span>
					</button>
				</h5>
			</div><!-- / .card-header -->
			<div id="collapse-@topico.Id" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
				<div class="card-body pl-0 pl-sm-1 py-0 pr-0 w-75 mx-auto mx-sm-0">
					<div class="list-group list-group-flush">
						@foreach (var subtopico in listaSubtopicos)
						{
							if (subtopico.TopicoID == topico.Id)
							{
								<a href="@Url.Action("Index", "Artigo", new { subtopico = subtopico.Id })" class="list-group-item list-group-item-action">@subtopico.Titulo</a>
							}
						}
					</div>
				</div>
			</div><!-- /.card-body -->
		</div><!-- /.card-accordion -->
	</div><!-- /.accordion-topics -->
}
