@{
	var userLogado = Session["userLogged"].ToString();
}


<span class="d-inline-block">
	<img class="rounded-circle" src="~/Content/images/user-circle.png" height="42" alt="@{
		if (userLogado == null)
		{
			@:notLogado
		}
		else
		{
			<text>@userLogado</text>
		}
	}">
</span>
<span class="d-inline-block">
	@{
		if (userLogado == null)
		{
			@:notLogado
		}
		else
		{
			<text>@userLogado</text>
		}
	}
</span>
