@model helpone_helpdesk_sys.Models.Usuario
<span class="d-inline-block">
	<img class="rounded-circle" src="~/Content/images/user-circle.png" height="42" alt="@Html.DisplayFor(model => model.Login)">
</span>
<span class="d-inline-block">
	@Html.DisplayFor(model => model.Login)
</span>
