@{
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
	ViewBag.Title = "Login";
}

<section class="user-level" >
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col text-center" style="min-height: 85vh;">
				<h1 class="text-white">Qual o seu nível de acesso?</h1>
				<a class="btn btn-primary btn-lg m-3 user-level__login-link" href="@Url.Action("Index", "Home")" role="button">Operador</a>
				<a class="btn btn-primary btn-lg m-3 user-level__login-link" href="@Url.Action("Index", "Home")" role="button">Equipe de suporte</a>
			</div>
		</div>
	</div>
</section>

