@{
	ViewBag.Title = "Home Page";
}

<!-- Content Section -->
<section class="content">
	<div class="container">
		<div class="row py-5">
			<!-- col soluctions -->
			<div class="col-sm-6 col-lg-5 mb-5 text-center text-sm-left">
				<h2 class="h3 mb-2">Soluções Frequentes</h2>
				<div class="row mt-3">
					@foreach (var artigo in ViewBag.Artigos)
					{
						<div class="col-md-6 p-2">
							<a href="@Url.Action("Detalhes", "Artigo", new { id = artigo.Id })" style="white-space: normal;" class="btn btn-light no-white-space text-left p-3 border" role="button">
								@artigo.Titulo
								?
							</a>
						</div>
					}
				</div>
			</div><!-- /.col-soluctions -->
			<!-- col-topics -->
			<div class="col-sm-6 col-lg-4 pl-md-5 text-center text-sm-left">
				@{ Html.RenderAction("SelectTopico", "Home"); }
			</div><!-- /.col-topics -->
			<!-- actions-btns -->
			<div class="col-lg-3 pt-4 pt-sm-0 pt-lg-5">
				<div class="row">
					<div class="col-sm-6 col-lg-12">
						<a role="button" href="@Url.Action("Index", "Chamado")" class="btn btn-lg btn-block btn-info py-4 rounded-0">
							<span class="d-block mb-1"><i class="fas fa-3x fa-chart-bar"></i></span>
							Consultar chamados
							<small class="d-block">Some text here of button</small>
						</a>
					</div>
					<div class="col-sm-6 col-lg-12">
						<a role="button" href="@Url.Action("Abrir", "Chamado")" class="btn btn-lg btn-block btn-info py-4 rounded-0 mt-5 mt-sm-0 mt-lg-5">
							<span class="d-block mb-1"><i class="fas fa-3x fa-chart-bar"></i></span>
							Abrir chamado
							<small class="d-block">Some text here of button</small>
						</a>
					</div>
				</div>
			</div>
			<!-- /.actions-btns -->
		</div>
	</div>
</section>
